# Gradle files
.gradle/
build/
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar

# Local properties
local.properties
gradle-debug-log.txt

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Build output
*.apk
*.ap_
*.dex
*.class
